/* 
参考にしたサイト(ありがとうございます。)
* [とほほのフォント入門](https://www.tohoho-web.com/ex/font.html)
  * フォント周り
*/
@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
        --color-font: White;
        --color-canvas-default: #1f2933;
        --color-canvas-muted: #323f4b;
        --color-canvas-subtle: #3e4c59;
        --color-border-default: #52606d;
        --color-border-muted: #616e7c;
        --color-border-subtle: #7b8794;
        --color-headline-default: DarkOliveGreen;
        --color-headline-muted: Olive;
        --color-headline-subtle: OliveDrab;
        --color-danger: red;
        --color-syntax: Goldenrod;
        }
}

@media (prefers-color-scheme: light) {
    body {
        color-scheme: light;
        --color-font: Black;
        --color-canvas-default: White;
        --color-canvas-muted: GhostWhite;
        --color-canvas-subtle: WhiteSmoke;
        --color-border-default: LightGray;
        --color-border-muted: DarkGray;
        --color-border-subtle: Gray;
        --color-headline-default: DarkSeaGreen;
        --color-headline-muted: MediumSeaGreen;
        --color-headline-subtle: SeaGreen;
        --color-danger: red;
        --color-syntax: DarkGoldenrod;
        }
}

body {
    --font-size: 16px;
    --margin: calc(var(--font-size) / 10);
    --margin-bottom: calc(var(--font-size) / 1);
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
    border: none;
    padding: none;
    background-color: var(--color-canvas-default);
    font-size: var(--font-size);
    color: var(--color-font);
    font-family:
        "Helvetica Neue",
        "Hiragino Kaku Gothic ProN",
        Meiryo,
        sans-selif;
    line-height: 1.2;
    counter-reset: h2;
}

p{
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
    border: unset;
    padding: unset;
}

p:has(+ ul) ,
p:has(+ ol) {
    margin-bottom: var(--margin);
}

@media print {
    h1 + p {
        text-align:center;
    }
}

/* Headline */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: var(--margin);
        margin-bottom: var(--margin-bottom);
        }

    h1,
    h2,
    h3{
        font-size:xx-large;
    }

    h4,
    h5,
    h6{
        position: relative;
        display: table;
        }

    h1,
    h2{
        background: var(--color-headline-default);
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        padding-top: calc(var(--font-size) / 4);
        }

    h2,
    h3 {
        border-bottom: solid calc(var(--font-size) * 0.5) var(--color-headline-subtle);
        padding-left: calc(var(--font-size) / 2);
    }

    @media print {
        h2,
        h3{
            page-break-before:always;
        }
    }
    
    h1 {
        text-align: center;
        box-shadow: var(--font-size) calc(var(--font-size) / 2) 0 var(--color-headline-muted), calc(var(--font-size) * 2) var(--font-size) 0 var(--color-headline-subtle);
        margin-right: calc(var(--font-size) * 2);
        margin-bottom: calc(var(--margin-bottom) + var(--font-size));
        border: none;
        padding-bottom: unset;
    }

    @media print {
        h1{
            margin-top: 50vh;
        }
    }

    h2 {
        border-left: solid var(--font-size) var(--color-headline-muted);
        counter-increment: h2;
        counter-reset: h3;
        }

    h2::before {
        content: counter(h2) " ";
    }
    
    h3 {
        border-left: solid calc(var(--font-size) * 2) var(--color-headline-muted);
        counter-increment: h3;
        }  

    h3::before {
        content: counter(h2) "." counter(h3) " ";
    }
    
    h4 {
        font-size:x-large;
        border-bottom: solid calc(var(--font-size) * 0.6) var(--color-headline-default);
    }

    h5 {
        font-size:large;
        border-bottom: solid calc(var(--font-size) * 0.4) var(--color-headline-muted);
    }

    h6 {
        font-size:medium;
        border-bottom: solid calc(var(--font-size) * 0.2) var(--color-headline-subtle);
    }
/* Headline */

/* Text Decoration */
    strong{
        color: var(--color-danger);
    }
    em{
        font-family:
            YuMincho,    /* Mac用 */
            'Yu Mincho',     /* Windows用 */
            'Noto Serif JP';     /* Linux用 */
        font-style: italic;
        /* text-decoration: underline; */
    }
/* Text Decoration */

/* table */
    table {
        margin: var(--margin);
        margin-bottom: var(--margin-bottom);
        border:solid calc(var(--font-size) * 0.1);
        border-color:var(--color-border-default);
        border-spacing: unset;
        padding: unset;
    }

    th,
    td {
        margin: unset;
        border-style:dotted solid;
        border-width: calc(var(--font-size) * 0.05);
        border-color:var(--color-border-default);
        padding: calc(var(--font-size) * 0.1) calc(var(--font-size) * 0.2);
    }

    thead>tr {
        background-color: var(--color-canvas-subtle);
    }

    tbody>tr:nth-of-type(2n-0){
        background-color: var(--color-canvas-muted);
    }
/* table */

/* Code Block */
    pre {
        margin: var(--margin);
        margin-bottom: var(--margin-bottom);
        overflow: auto;
    }

    code,
    blockquote>div>pre{
        border: solid calc(var(--font-size) * 0.1);
        border-color: var(--color-border-default);
        border-radius: calc(var(--font-size) * 0.2);
        margin: calc(var(--font-size) * 0.25);
    }

    code,
    span{
        font-family:
            Menlo,				/* Mac OS X 10.6(2009年) */
            Consolas,				/* Windows Vista(2006年) */
            "Hiragino Kaku Gothic ProN",	/* 和文コメント用：Mac OS X 10.5(2006年) */
            Meiryo,				/* 和文コメント用：Windows Vista(2006年) */
            monospace;				/* 上記以外 */
        font-size: calc(var(--font-size) * 0.8);
    }

    h1>code,
    h2>code,
    h3>code,
    h4>code,
    h5>code,
    h6>code{
    font-size: inherit;
    }
/* Code Block */

/* blockquote */
    blockquote{
        background-color: var(--color-canvas-muted);
        margin: var(--margin);
        margin-bottom: var(--margin-bottom);
        border: unset;
        border-left: solid calc(var(--font-size) / 2) var(--color-border-default);
        padding: unset;
        padding-left: calc(var(--font-size) / 2);
    }
/* blockquote */