.vscode-dark {
    --color-canvas-default: #1f2933;
    --color-canvas-muted: #323f4b;
    --color-canvas-subtle: #3e4c59;
    --color-border-default: #52606d;
    --color-border-muted: #616e7c;
    --color-border-subtle: #7b8794;
    --color-headline-default: DarkOliveGreen	;
    --color-headline-muted: Olive;
    --color-headline-subtle: OliveDrab;
    --color-danger: red;
    --color-syntax:Goldenrod;
}

.vscode-light {
    --color-canvas-default: White;
    --color-canvas-muted: GhostWhite;
    --color-canvas-subtle: WhiteSmoke;
    --color-border-default: LightGray;
    --color-border-muted: DarkGray;
    --color-border-subtle: Gray;
    --color-headline-default: DarkSeaGreen	;
    --color-headline-muted: MediumSeaGreen;
    --color-headline-subtle: SeaGreen;
    --color-danger: red;
    --color-syntax:DarkGoldenrod;
}

body,
html {
    padding: unset;
    margin: unset;
}

.vscode-body {
    --font-size:14px;
    --margin: calc(var(--font-size) / 10);
    --margin-bottom: calc(var(--font-size) / 1);
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
    border: none;
    padding: none;
    background-color: var(--color-canvas-default);
    font-size: var(--font-size);
    font-family:
        "Helvetica Neue",			/* macOS/iOS/iPadOS(英文) */
        "Hiragino Kaku Gothic ProN",	/* Mac OS X 10.5(2006年) */
        Meiryo,				/* Windows Vista(2006年) */
        sans-selif;				/* 上記以外 */
        line-height: 1.2;
}

/* HeadLine */
.vscode-body h1,
.vscode-body h2,
.vscode-body h3,
.vscode-body h4,
.vscode-body h5,
.vscode-body h6{
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
}

.vscode-body h1,
.vscode-body h2,
.vscode-body h3{
    font-size: 200%;
    padding-top: calc(var(--font-size) / 2);
}

.vscode-body h4,
.vscode-body h5,
.vscode-body h6{
    position: relative;
    display: table;
}

.vscode-body h1 {
    text-align: center;
    background: var(--color-headline-default);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    box-shadow: var(--font-size) calc(var(--font-size) / 2) 0 var(--color-headline-muted), calc(var(--font-size) * 2) var(--font-size) 0 var(--color-headline-subtle);
    margin-right: calc(var(--font-size) * 2);
    margin-bottom: calc(var(--font-size) * 2);
    border: none;
}

.vscode-body h2 {
    background: var(--color-headline-default);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    border-left: solid var(--font-size) var(--color-headline-muted);
    border-bottom: solid calc(var(--font-size) / 2) var(--color-headline-subtle);
    padding-left: calc(var(--font-size) / 2);
}

.vscode-body h3 {
    border-left: solid calc(var(--font-size) * 2) var(--color-headline-muted);
    border-bottom: solid calc(var(--font-size) / 2) var(--color-headline-subtle);
    padding-left: calc(var(--font-size) / 2);
}
  
.vscode-body h4 {
    font-size: 175%;
    border-bottom: solid thick var(--color-headline-default);
}

.vscode-body h5 {
    font-size: 150%;
    border-bottom: solid medium var(--color-headline-muted);
}

.vscode-body h6 {
    font-size: 125%;
    border-bottom: solid thin var(--color-headline-subtle);
}

.vscode-body p{
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
    border: unset;
    padding: unset;
}

/* Table */
.vscode-body table {
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
    border-style:solid;
    border-width: medium;
    border-color:var(--color-border-default);
    border-spacing: unset;
    padding: unset;
}

.vscode-body th,
.vscode-body td {
    margin: unset;
    border-style:solid;
    border-width: thin;
    border-color:var(--color-border-default);
    padding: calc(var(--font-size) * 0.1) calc(var(--font-size) * 0.2);
}

.vscode-body td{
    border-top-style:dotted;
    border-bottom-style:dotted;
}

.vscode-body thead>tr {
    background-color: var(--color-canvas-subtle);
}
.vscode-body tbody>tr:nth-of-type(2n-0){
    background-color: var(--color-canvas-muted);
}

.vscode-body pre {
    background-color: var(--color-canvas-muted);
    margin: var(--margin);
    margin-bottom: var(--margin-bottom);
    border: inset thin;
    border-color: var(--color-border-default);
    padding: calc(var(--font-size) * 0.25);
    font-family:
        Menlo, /* Mac OS X 10.6(2009年) */
        Consolas, /* Windows Vista(2006年) */
        "Hiragino Kaku Gothic ProN", /* 和文コメント用：Mac OS X 10.5(2006年) */
        Meiryo, /* 和文コメント用：Windows Vista(2006年) */
        monospace; /* 上記以外 */
}

.vscode-body strong {color: var(--color-danger);}
.vscode-body em {text-decoration: underline;}