/* @theme Tukuyomi_Ai */
@import url(https://star-delta.github.io/CSS/MARP.css);
section {
    /* --logo: url(./Logo.png); */
    --logo-size: 12.5%;
    --logo-size-title: 50%;
    --logo: url(https://lohas.nicoseiga.jp/priv/d8b5d7552698fbfd4289a70bec60ffe13904bc2d/1694000278/8019817)
}
section {
    --color-bg-default: pink;
    --color-bg-muted: lightpink;
    --color-bg-subtle: hotpink;
    --color-text-default: black;
    --color-text-muted: DimGray;
    --color-text-subtle: Gray;
    --color-text-danger: red;
    --color-border-default: SlateGray;
    --color-border-muted: LightSlateGray;
}