/*
    https://star-delta.github.io/ 
*/

@import url(../../CSS/Markdown.css);

@media (prefers-color-scheme: dark) {
    .markdown-body {
        color-scheme: dark;
        --color-canvas-default: #1f2933;
        }
}

@media (prefers-color-scheme: light) {
    .markdown-body {
        color-scheme: light;
        --color-canvas-default: White;
        }
}

body {
    background-color: var(--color-canvas-default);
    margin:0.5cm;
}