/* "https://cdn.jsdelivr.net/gh/Star-Delta/Markdown-CSS@0/Markdown.css"のカラーパレットを参照しています。 */

body {
    background-color: var(--color-background);
    margin: 0;
}
.site-footer {
    color: var(--color-font);
    text-align: center;
}
