<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Star-Delta/Markdown-CSS@0/Markdown.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Star-Delta/Markdown-CSS@0/Markdown_Print.css"
        media="print">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    <main class="markdown-body">
        {{ content }}
    </main>

    <footer class="site-footer">
    <small>
        &copy; {{ site.time | date: "%Y" }} Star-Delta
        ·
        <a href="https://github.com/Star-Delta">GitHub</a>
    </small>
</footer>
</body>

</html>